html, body {
  /* Make the body to be as tall as browser window */
  height: 100%;
  margin: 0;
  font-family: Sans-serif;
  color: white;
}

.body {
 height: 100%;
 background-image: linear-gradient(red, blue);
 display: grid;
 justify-content: center;
 align-content: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"] {
 border-radius: 6px;
 border-color: blue;
 border-width: 2px;
 border-style: solid;
 color: blue;
 width: 130px;
 box-shadow: none;
}

input[type="button"] {
 background-color: white;
 border-color: blue;
 border-style: solid;
 border-radius: 4px;
 color: red;
 padding: 4px 10px;
 cursor: pointer;
}

a:hover {
 cursor: pointer;
}

.error {
 border-color: red !important;
}

.header {
 height: 30px;
 width: 100%;
 top: 0;
 position: absolute;
}

.header a:hover {
 color: blue;
}

.header nav,
.header div.languageDropDownMenuContainer > div {
 display: grid;
 cursor: default;
}

.header nav div.dropDownMenu,
.header div div.languageDropDownMenu {
 white-space: pre;
 text-overflow: ellipsis;
 width: auto;
 overflow: hidden;
 height: 25px;
 padding-top: 5px;
}

.header div.dropDownMenuContainer {
 float: right;
 width: 200px;
 height: 30px;
}

.header div.languageDropDownMenuContainer {
 float: right;
 width: 100px;
 height: 30px;
 background-color: blue;
}

.header nav a,
.header div a {
 margin-right: 5px;
 background-color: red;
 padding: 3px 3px 3px 5px;
}

.header div.dropDownMenuContainer:hover a,
.header div.languageDropDownMenuContainer:hover a {
 z-index: 1;
}

.footer {
 height: 30px;
 width: 100%;
 bottom: 0;
 position: absolute;
}

.footer a:hover {
 color: red;
}

.sidebar-menu {
 height: calc(100% - 60px);
 width: 100px;
 top: 30px;
 position:absolute;
}

.sidebar-menu div {
 padding: 5px 10px;
 border-bottom: 2px solid white;
}

.content {
 background-color: white;
 color: blue;
 height: calc(100% - 80px);
 width: calc(100% - 120px);
 top: 30px;
 left: 100px;
 position:absolute;
 overflow: auto;
 border-radius: 0 10px;
 padding: 10px;
}

@keyframes please-wait-animation {
 0% {
  background-image: linear-gradient(red, blue);
  opacity: 0.4;
 }
 50% {
  background-image: linear-gradient(red, blue);
  opacity: 1;
 }
 100% {
  background-image: linear-gradient(red, blue);
  opacity: 0.4;
 }
}

.please-wait {
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: 1;
 top: 0;
 left: 0;
 animation: please-wait-animation 1s;
 animation-iteration-count: infinite;
 display: grid;
 justify-content: center;
 align-content: center;
}

.progress-bar-background {
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: 2;
 top: 0;
 left: 0;
 display: grid;
 justify-content: center;
 align-content: center;
}

.progress-bar {
 width: 100px;
 height: 20px;
 background-color: white;
 border-radius: 5px;
 border: 2px solid blue;
 display: grid;
 justify-content: center;
 align-content: center;
}

.progress-bar-done-number {
 color: blue;
}

.signUp h3{
 text-align: center;
}

.signUp td:nth-child(1){
 text-align: right;
}

td.validationMessage {
 color: red;
}

